<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Treatment Builder</title>
</head>


<body marginheight="0" bgcolor="#f7f7f7" marginwidth="0"
    style="margin: 0; font: normal 14px/17px Arial, Helvetica, sans-serif; color: #050505;" link="#991b1e">
    <table width="600" border="0" cellspacing="0" cellpadding="10" align="center"
        style="width: 600px; max-width: 100%;  margin: 0 auto; color: #050505;background: #fff; font: normal 14px/17px Arial, Helvetica, sans-serif;">
        <tr>
            <td style="padding: 0;">
                <table style="width: 100%; background: #EFEBEB; padding: 20px 0;">
                    <tr>
                        <td valign="top" style="text-align: left;">
                          <a href="#">  <img src="./logo.svg" alt="logo" style="max-width: 100%; height: 50px;" /></a>
                        </td>
                        <td valign="top" style="text-align: right;">
                            <a href="#">  <img src="./mini.svg" alt="logo" style="max-width: 100%; height: 42px;" /></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <h1>THANKS FOR YOUR INPUT</h1>
                            <p>Hi {{userName}}, </p>
                            <p> Thanks for the mini consultation submission.
                                Our team will get in touch with you very soon.
                                View your details below.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td colspan="2">
                            <h2>Personal Details</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style=" padding: 10px 0;">Name :</td>
                                    <td style=" padding: 10px 0;"> Michelle Chris</td>
                                </tr>
                                <tr>
                                    <td style=" padding: 10px 0;">Age range :</td>
                                    <td style=" padding: 10px 0;"> 25 - 35</td>
                                </tr>
                                <tr>
                                    <td style=" padding: 10px 0;">Phone number :</td>
                                    <td style=" padding: 10px 0;"> 0491 - 598 - 233</td>
                                </tr>
                                <tr>
                                    <td style=" padding: 10px 0;">Email address : </td>
                                    <td style=" padding: 10px 0;">michelle.chris.85@gmail.com</td>
                                </tr>
                                <tr>
                                    <td style=" padding: 10px 0;">Aesthetic naive :</td>
                                    <td style=" padding: 10px 0;"> Yes</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <img src="./face-icon3.png" alt="image" style="max-width: 160px; max-height: 160px;" />
                            <br />
                            <span>Image chosen / uploaded</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td colspan="2">
                            <h2>Recommended FOR YOU</h2>
                            <h3>Rejuvenation PACKAGE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="2">
                            <h3>treatments in this package</h3>
                            <span>(Depending on consultation)</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td>
                            <p style="margin-top: 0;"><img src="./check.png" style="position: relative; bottom: -4px;"/> Anti-wrinkle injections</p>
                            <p><img src="./check.png" style="position: relative; bottom: -4px;"/> Dermal fillers</p>
                            <p><img src="./check.png" style="position: relative; bottom: -4px;"/> Skin boosters</p>
                        </td>
                        <td>
                            <p style="margin-top: 0;"><img src="./check.png" style="position: relative; bottom: -4px;"/> Skincare</p>
                            <p><img src="./check.png" style="position: relative; bottom: -4px;"/> Coolsculpting</p>
                            <p><img src="./check.png" style="position: relative; bottom: -4px;"/> Dermal therapies</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">COSTS <br />
                            $XX - $XX</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td colspan="2">
                            <h2>Areas of Concern</h2>
                        </td>
                    <tr>
                        <td>Forehead : </td>
                        <td>I
                            have deep wrinkles and frown lines</td>
                    </tr>

                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block; padding: 10px 0;">Eyes : </td>
                        <td>I look
                            tired all the time</td>
                    </tr>
                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block; padding: 10px 0;">Forehead :
                        </td>
                        <td>I
                            have deep wrinkles and frown lines</td>
                    </tr>
                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block; padding: 10px 0;">Cheeks :
                        </td>
                        <td>I feel
                            like my cheeks look like they sagging/droopy</td>
                    </tr>
                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block; padding: 10px 0;">Nasolabial :
                        </td>
                        <td>I
                            have deep creases form along the sides of my nose to the corners of
                            my mouth</td>
                    </tr>
                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block;     padding: 10px 0;">Jaw :</td>
                        <td> I have
                            sagging jowls</td>
                    </tr>
                    <tr>
                        <td style="color: #000; width: 130px; display: inline-block;     padding: 10px 0;">Neck :</td>
                        <td> I feel
                            like there are protruding lines from my neck</td>
                    </tr>
            </td>
        </tr>
    </table>
    </td>
    </tr>

    <tr>
        <td style="text-align:center">
            <a href=""
                style="background: #AC8CA0; margin-bottom: 40px; display: inline-block; color: #FFFFFF; font-size: 24px; padding: 20px 40px; border-radius: 30px; text-decoration: none;">BOOK
                CONSULTATION</a>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; background:#B0AEAB; padding: 50px 10px;">
            <p> <a href=""><img src="./footer-logo.png" alt="logo" /></a></p>
            <p>

                <a href="#" style=" margin-right: 1rem;"> <img src="./icon_instagram.svg" alt="logo" /></a>
                <a href="#" style=" margin-right: 1rem;"> <img src="./icon_facebook.svg" alt="logo" /></a>
                <a href="#" style=" margin-right: 1rem;"> <img src="./icon_youtube.svg" alt="logo" /></a>
                <a href="#" style=" margin-right: 1rem;"> <img src="./icon_x.svg" alt="logo" /></a>
                <a href="#"> <img src="./icon_linkedin.svg" alt="logo" /></a>

            </p>

            <P style="font-size: 12px;color: #05050580;">© 2024 Structure Clinics. All Rights Reserved.</P>
            <P style="font-size: 12px;">
                <a href="#" style="color: #05050580; margin-right: 1.25rem;">Privacy Policy</a>
                <a href="#" style="color: #05050580; margin-right: 1.25rem;">Terms of Service</a>
                <a href="#" style="color: #05050580; margin-right: 1.25rem;">View Online</a>
                <a href="#" style="color: #05050580;">Unsubscribe</a>
            </P>
        </td>
    </tr>
    </table>

</body>

</html>